@charset "UTF-8";
html body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  background-color: #0b1d26;
  color: #fff;
  font-family: "PT Sans";
}

.wrapper {
  min-height: 100%;
}

._container {
  max-width: 1000px;
  margin: 0px auto;
  padding: 50px 20px;
}

.parallax {
  min-height: 100vh;
  /*Чтобы не было видно краёв изображений при движении, ширину и высоту надо ставить больше размера экрана*/
}

.parallax__body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.parallax__container {
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.parallax__label {
  color: #fbd784;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  letter-spacing: 6px;
  margin: 0px 0px 30px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parallax__label::before {
  content: '';
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  margin: 0px 30px 0px 0px;
  background-color: #fbd784;
  height: 1px;
}

.parallax__title {
  font-size: 88px;
}

.parallax__images {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  z-index: 1;
}

.images-parallax__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.images-parallax__clouds, .images-parallax__mountains, .images-parallax__human {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.images-parallax__clouds {
  background: url("../img/clouds.jpg") top/cover no-repeat;
  top: 0;
}

.images-parallax__mountains {
  background: url("../img/mountains.png") top/cover no-repeat;
  top: 15%;
  z-index: 2;
}

.images-parallax__human {
  background: url("../img/human.png") top/cover no-repeat;
  top: 45%;
  z-index: 3;
}

/*Медиазапрос сработает когда ширина экрана будет меньше чем высота (решает проблему "выпадения" за пределы видимости эелементов изображения при изменении размера экрана)*/
@media (max-aspect-ratio: 3 / 2) {
  .images-parallax__human {
    background-position: 20% top;
  }
}

.content {
  background-color: #0b1d26;
  position: relative;
  z-index: 2;
}

.content::before {
  pointer-events: none;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(11, 29, 38, 0)), to(#0b1d26));
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 5%, #0b1d26 100%);
}

.content__title {
  font-size: 35px;
  margin: 0px 0px 30px 0px;
}

.content__text {
  font-size: 16px;
  line-height: 150%;
}

/*Мудиазапросы для адаптивности*/
@media (max-width: 767px) {
  .parallax__title {
    font-size: 50px;
  }
  .parallax__label {
    font-size: 16px;
    margin: 0px 0px 15px 0px;
  }
}

@media (max-width: 479px) {
  .parallax__title {
    font-size: 36px;
  }
  .parallax__label::before {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    margin: 0px 10px 0px 0px;
  }
}
/*# sourceMappingURL=style.css.map */